@media screen and (max-width: 970px) {
    body {
        width: 100%;
    }
    .gc-width-limiter{
        width: 100%;
    }
    main{
        overflow: hidden;
    }
}
@media screen and (min-width: 971px) {
    body {
        min-width: 1100px;
    }
    .gc-width-limiter{
        max-width: 1100px;
    }
}
@include font-face($regular, 'font/RobotoCondensed-Regular.ttf', 'RobotoCondensed-Regular-400');
@include font-face($bold, 'font/RobotoCondensed-Bold.ttf', 'RobotoCondensed-Bold-700');
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
body{
    background-color: $color-white;
}
.gc-width-limiter{
    margin: 0 auto;
}
