$regular: 'RobotoCondensed-Regular-400';
$bold: 'RobotoCondensed-Bold-700';

$color-white: #ffffff;
$color-red: #e31e24;
$color-red-dark: #ba1d1d;
$color-black: #2b2a29;
$color-grey: #f5f7f6;
$color-grey-border: #b1b1b1;
$color-yellow: #edce24;
$color-gold: #ce9a37;
$color-border-gray: #b1b1b1;

$box-shadow-card: 13px -3px 32px rgba(157, 152, 152, 0.5);
$box-shadow-btn: 0 0 32px rgba(157, 152, 152, 0.5);