.gc-input{
    width: 100%;
}
.gc-input_ms{
    height: 37px;
    box-sizing: border-box;
    border: 1px solid $color-grey-border;
    background-color: #f5f7f6;
    color: $color-black;
    font-family: $regular;
    font-size: 18px;
    padding: 0px 10px;
}
.gc-input_material{
    position: relative;
    height: 37px;
    box-sizing: border-box;
    border: 0px solid transparent;
    background-color: transparent;
    font-family: $regular;
    font-size: 18px;
    padding: 0px 0px;
    outline: none;
    &::placeholder{
        font-size: 18px;
        font-family: $regular;
    }
    
}
.gc-input_material_white{
    color: $color-white;
    border-bottom: 1px solid $color-white;
    &::placeholder{
        color: $color-white;
    }
}
.gc-input_material_black{
    color: $color-black;
    border-bottom: 1px solid $color-black;
    &::placeholder{
        color: $color-black;
        opacity: 1;
    }
}
.gc-how-open__form{
    box-shadow: $box-shadow-card;
}
.gc-how-open__fields-group{
    & > :nth-child(1n + 1){
        margin-right: 50px;
    }
    & > :last-child{
        margin-right: 0;
    }
}