section.gc-for-child.gc-pt-70.gc-pb-70
    .gc-width-limiter
        h2.gc-mb-15 “Бай бол!” для детей
        p Надежное финансовое будущее - лучшее, что  Вы можете подарить детям. 
            | <br>Открывайте “Бай бол!” на имя ребенка! Сбережения помогут ему:
        .gc-for-child-containber.gc-mt-50.gc-space-between
            .gc-for-child-card.gc-mb-60
                .gc-for-child-card__image(src='./img/student.jpg' style="background-image: url('./img/student.jpg')")  
                p  Поступить в ВУЗ
            .gc-for-child-card.gc-mb-60   
                .gc-for-child-card__image(src='./img/graduate.jpg' style="background-image: url('./img/graduate.jpg')") 
                p  Продолжить обучение за рубежом
            .gc-for-child-card.gc-mb-60      
                .gc-for-child-card__image(src='./img/balls.jpg' style="background-image: url('./img/balls.jpg')") 
                p  Провести торжество
            .gc-for-child-card.gc-mb-60      
                .gc-for-child-card__image(src='./img/cottage.jpg' style="background-image: url('./img/cottage.jpg')") 
                p  Приобрести недвижимость    
        p Накопления пригодятся в любой непредвиденной ситуации!