section.gc-for-child.gc-pt-70.gc-pb-70
    .gc-width-limiter
        h2.gc-mb-15 “Бай бол!” для детей
        p Надежное финансовое будущее - лучшее, что  Вы можете подарить детям. 
            | <br>Открывайте “Бай бол!” на имя ребенка! Сбережения помогут ему:
        .gc-for-child-containber.gc-mt-50.gc-space-between
            .gc-for-child-card.gc-mb-60
                .gc-for-child-card__image(src='./img/student.png' style="background-image: url('./img/student.png')")  
                p  Поступить в ВУЗ
            .gc-for-child-card.gc-mb-60   
                .gc-for-child-card__image(src='./img/graduate.png' style="background-image: url('./img/graduate.png')") 
                p  Продолжить обучение за рубежом
            .gc-for-child-card.gc-mb-60      
                .gc-for-child-card__image(src='./img/balls.png' style="background-image: url('./img/balls.png')") 
                p  Провести торжество
            .gc-for-child-card.gc-mb-60      
                .gc-for-child-card__image(src='./img/cottage.png' style="background-image: url('./img/cottage.png')") 
                p  Приобрести недвижимость    
        p Накопления пригодятся в любой непредвиденной ситуации!        