.gc-how-open{
    h2{
        font-size: 36px;
        color: $color-black;
        font-family: $bold;
        width: 100%;
        text-align: center;
        line-height: 1;
    }
}
.gc-how-open__form{
    p{
        font-size: 14px;
        font-family: $regular;
    }
}