section.gc-quiet.gc-pt-90.gc-pb-100
        h2 Ваши вклады защищены
        .gc-quiet__container.gc-child-inline-block.gc-text-center.gc-mt-60.gc-child-vertical-align.gc-mb-30
            .gc-quiet-box
                h3 Гарантия сохранности вкладов <br class='gc-space-text-970'>от “Дос-Кредобанка”
            .gc-quiet-box
                h3 Дополнительная гарантия <br class='gc-space-text-970'>сохранности вкладов от <br class='gc-space-text-970'>Агентства по защите депозитов <br class='gc-space-text-970'>Кыргызской Республики
            .gc-quiet-box
                <span class='gc-quiet__ulta-text'>100%</span>
                h3  защита ваших сбережений