section.gc-quiet.gc-pt-90.gc-pb-100
        h2 Ваши вклады защищены
        .gc-quiet__container.gc-child-inline-block.gc-text-center.gc-mt-60.gc-child-vertical-align.gc-mb-30
            .gc-quiet-box
                h3 Гарантия сохранности вкладов от “Дос-Кредобанка”
            .gc-quiet-box
                h3 Дополнительная гарантия сохранности вкладов от Агентства по защите депозитов Кыргызской Республики
            .gc-quiet-box
                <span class='gc-quiet__ulta-text'>100%</span>
                h3  защита ваших сбережений