@media screen and (max-width: 970px) {
    .gc-calculation-contribution{
        padding-bottom: 0!important;
    }
    .gc-calculation-contribution__calc-input, .gc-calculation-contribution__calc-out {
        width: 100%;
        max-width: 515px;
        margin: 0 auto;
    }
    .gc-calculation-contribution__calc-input{
        margin-bottom: 30px;
    }
    .gc-calculation-contribution__calc-out {
        padding: 75px 64px 0 64px;
        p {
            &:last-child{
                font-size: 24px;
            }
        }
        .gc-button{
            width: 100%;
        }
    }
}
@media screen and (min-width: 971px) {
    .gc-calculation-contribution__calc-input {
        width: 47%;
        float: left;
    }
    .gc-calculation-contribution__calc-out {
        padding: 75px 95px 0 64px;
        width: 47%;
        float: right;
    }
}

.gc-calculation-contribution{
    h2{
        font-size: 36px;
        color: $color-black;
        font-family: $bold;
        width: 100%;
        text-align: center;
    }
}
.gc-calculation-contribution__container{
    display: inline-block;
    width: 100%;
}
.gc-calculation-contribution__calc-input{
    height: 370px;
    padding: 48px 50px 0 60px;
    box-sizing: border-box;
    p{
        color: $color-black;
        font-size: 18px;
        font-family: $regular;
    }
}

.gc-calculation-contribution__calc-out{
    height: 370px;
    box-sizing: border-box;
    p{
        color: $color-white;
        font-size: 18px;
        font-family: $regular;
        padding-bottom: 20px;
    }
}
.gc-calculation-contribution__special-text{
    position: relative;
    &::after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-white;
        opacity: 0.52;
    }
}