@media screen and (max-width: 970px) {
    .gc-header{
        padding: 35px 30px;
        .gc-link-list{
            display: none;
        }
    }
}
@media screen and (min-width: 971px) {
    .gc-header{
        padding: 35px 0px;
    }
}
//@media screen and (max-width: 650px) {}
.gc-header{
    background-color: $color-grey;
    box-shadow: 13px -3px 32px rgba(157, 152, 152, 0.5);
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}