doctype html
html
    head
        title Дос-Кредобанк выгодный депозит "Бай бол!"
        meta(charset="UTF-8")
        meta(name="description" content="Выгодный Депозит Бай Бол, вклад под 13% годовых")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="googlebot" content="index,follow")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a) {m[i]=m[i]||function() {(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(52972660, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/52972660" style="position:absolute; left:9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
        

    body
        include ./components/header/_header
        main
            include ./components/title-cover/_title-cover.pug
            include ./components/calculation-contribution/_calculation-contribution.pug
            include ./components/advantages/_advantages.pug
            include ./components/conditions/_conditions.pug
            include ./components/reasons/_reasons.pug
            include ./components/for-child/_for-child.pug
            include ./components/how-open/_how-open.pug
            include ./components/quiet/_quiet.pug
            include ./components/map/_map.pug
            include ./components/mobile-footer/_mobile-footer

            include ./components/modal/_modal.pug
        