section.gc-conditions.gc-pt-100.gc-pb-100
    .gc-width-limiter
        h2.gc-mb-25 Условия
        .gc-child-inline-block.gc-child-vertical-align.gc-select-condition.gc-mb-35
            p Выберите валюту:
            +custom-radio('conditions',[
                    {
                        "label": "KGS",
                        "class": "",
                        "id": "conditions-kgs",
                        "checked": true
                    },{
                        "label": "USD",
                        "class": "",
                        "id": "conditions-usd",
                        "checked": false
                    }                
                ], 'gc-custom-radio_material')
        .gc-card.gc-card_white.gc-conditions-card(class='wow fadeInLeft' data-wow-duration='600ms'  data-wow-delay="0s")   
            .gc-conditions-card__section
                .gc-conditions-card__img
                    img(src='./img/icons8-fund-accounting-filled-100.png' alt='dollar')   
                p.gc-conditions-card__lable Минимальная сумма открытия:
                span#conditionsMinAmount.gc-conditions-card__value.gc-text-grad-yellow-in-gold 1 000 сомов 
            .gc-conditions-card__section
                .gc-conditions-card__img
                    img(src='./img/icons8-fund-accounting-filled-100.png' alt='dollar')   
                p.gc-conditions-card__lable Срок по программе:
                span#conditionsTerm.gc-conditions-card__value.gc-text-grad-yellow-in-gold от 1 до 60 месяцев
            .gc-conditions-card__section
                .gc-conditions-card__img
                    img(src='./img/icons8-fund-accounting-filled-100.png' alt='dollar')   
                p.gc-conditions-card__lable Максимальная сумма пополнения <br>(в течении всего срока):
                span#conditionsMaxAmount.gc-conditions-card__value.gc-text-grad-yellow-in-gold до 500 сомов
            .gc-conditions-card__section
                .gc-conditions-card__img
                    img(src='./img/icons8-fund-accounting-filled-100.png' alt='dollar')   
                p.gc-conditions-card__lable % ставка:
                span#conditionsRate.gc-conditions-card__value.gc-text-grad-yellow-in-gold до 13% годовых +<br/> капитализация % <br/>каждый месяц