mixin step-scale(...values)
    .gc-step-scale&attributes(attributes).gc-child-inline-block.gc-text-center
        each v, i in values
            .gc-step-scale__box(class='wow zoomIn' data-wow-duration='600ms'  data-wow-delay="0."+(i*4)+"s")  
                .gc-step-scale__circle
                    span= (i+1)
                .gc-step-scale__content
                    p= v
        